<style>
    #notifications
    {
        position: fixed;
        top: 15px;
        
        /*Used to center*/
        left: 50%;
        transform: translateX(-50%); 
        
        display: flex;
        flex-direction: column;
        
        width: 70%;
        max-width: 500px;
    }
    
    .notification
    {
        height: 100px;
        
        display: flex;
        flex-direction: row;
        
        margin-bottom: 15px;
        
        overflow: hidden;
        
        color: black;
        
        border-radius: 5px;
        background-color: white;
    }
    
    .notification > .indicator
    {
        width: 10%;
        background-color: #F4D800;
    }
    
    .notification > .icon
    {
        margin: auto 25px;
        
        color: #F4D800;
        text-align: center;
        font-size: 2.3em;
    }
    
    .notification > .text
    {
        align-self: center;
        margin: 10px;
    }
    
    .notification.error > .indicator{ background-color: red; }
    .notification.error > .icon{ color: red; }
    
    .appear
    {
        animation: appear 0.5s;
    }
    
    .disappear
    {
        animation: disappear 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes appear
    {
        0%
        {
            opacity: 0%;
        }
        
        100%
        {
            opacity: 100%;
        }
    }
    
    @keyframes disappear
    {
        0%
        {
            opacity: 100%;
        }
        
        100%
        {
            opacity: 0%;
        }
    }
</style>