<style>
    #loading-screen
    {
        
    }
    
    #loading-icon
    {
        margin-bottom: 30px;
        
        font-size: 10em;
        color: #F4D800;
    }
    
    #loading-text
    {
        text-align: center;
        font-size: 2.5em;
        color: #F4D800;
    }
    
    @keyframes rotate 
    {
        from 
        {
        transform: rotate(0deg);
        }
        to 
        { 
        transform: rotate(360deg);
        }
    }

    .rotate
    {
        animation: rotate 1.5s infinite ease;
    }
</style>